footer {
    background-color: rgba(220, 126, 77, 0.82);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Added to space out the items */
    width: 100%;
}

.footer-left {
    margin-left: 2%;
}

.footer-right {
    margin-right: 2%;
}

.footer-right a {
    color: white; /* Ensures the links are white */
    text-decoration: none; /* Removes underline */
    margin: 0 10px; /* Adds space between the links */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.footer-right a:hover {
    color: #e0e0e0; /* Changes color on hover */
}
