body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}


main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

/* Dropdown Button */
.dropdown {
    justify-content: left;
    width: fit-content;
    height: fit-content;
    margin-left: 20px;
    margin-top: 20px;
}

.dropbtn {
    background-color: #63b676;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    margin-right: auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.recipes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 90%;
}


.recipe-card {
    flex-basis: calc(30% - 40px); /* Set width for three cards per row */
    margin: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.recipe-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recipe-card h3 {
    margin-bottom: 5px;
}

.noRecipe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 90%;
}
.noRecipe img{
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
}
.noRecipe h2{
    margin-top: 40px;
}


/* 5 Star Rating */
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.topOfHome{
    justify-content: left;
    display: flex;
}


.subHeader {
    padding: 10px;
    padding-top: 20px;
    background-color: white;
    display: flex;
    justify-content: center; /* Distribute space around items */
    align-items: center; /* Center elements vertically */
    flex-grow: 1;
}
.userRecipes,
.apiRecipes {
    margin: 10px 0; /* Add margin to top and bottom */
    margin-right: 20px;
    margin-left: 20px;
}
.subHeader a {
    text-decoration: none;
    color: rgba(225, 129, 58, 0.78);
    /*text-shadow:*/
    /*        -1px -1px 0 #232323,*/
    /*        1px -1px 0 #232323,*/
    /*        -1px 1px 0 #232323,*/
    /*        1px 1px 0 #232323; !* Outline color *!*/
    font-weight: bold;
}
