@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    color: white !important;
}

h2, h3 {
    color: darkorange;
}

strong {
    color: orange;
}

.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 800px;
}

.container .ingredients {
    margin-bottom: 20px;
    margin-right: 20px;
}

.servings {
    text-align: center;
    vertical-align: middle; /* Align vertically */
}

.image img {
    border-radius: 15px;
    margin-top: 20px;
    width: 280px;
    height: 280px;
}

.below-image {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

ul li {
    padding-bottom: 5px;
}

.right-side {
    margin-left: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.servings button {
    font-size: 12px;
    border-radius: 5px;
}


button, .buttons-container a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover, .buttons-container a:hover {
    background-color: #45a049;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button.mark-as-done {
    background-color: #4CAF50;
}

button.edit-recipe {
    background-color: #2196F3;
}

button.delete-recipe {
    background-color: #f44336;
}



.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.recipe-info {
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 15px;
}

.recipe-info p {
    margin: 5px 0;
}

.recipe-info span {
    font-weight: bold;
}

.recipe-info .detail-item {
    display: inline-block;
    margin-right: 15px;
}

.recipe-info .icon {
    color: #ff9900;
}
