{% extends 'base.html.twig' %}
{% block title %}TastyTable{% endblock %}
{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/signUp.css') }}">
    {% endblock %}

<div class = "container">
    <div class = "form-box">
        <h1>Sign Up</h1>
        <form>
            <div class="input-group" style>
                <div class="input-field" id="username">
                    <i class="fa-solid fa-user"></i><!--declaring icon-->
                    <input type="username" placeholder="Username">
                </div>
                <div class="input-field" id="nameField">
                    <i class="fa-solid fa-envelope"></i> <!--declaring icon-->
                    <input type="email" placeholder="Email">
                </div>
                <div class="input-field" id="passwordField">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>
            </div>
            <div class="btn-field">
                <button type="button" id="register">Register</button>
            </div>
            <a id = "accountExist" href="{{ path('logIn') }}">Already have an account? Login</a>
        </form>

    </div>
</div>
<script>
    let loginBtn = document.getElementById("loginBtn");
    let nameField = document.getElementById("nameField");
    let passwordField = document.getElementById("passwordField");

    loginBtn.onClick = function (){

    }
</script>

{% endblock %}