{% extends 'base.html.twig' %}

{% block title %}Hello MithilTestController!{% endblock %}

{% block body %}


  <!--
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ 1 }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/mithi/SoftDev406/src/Controller/TastyTableController.php</code></li>
        <li>Your template at <code>C:/Users/mithi/SoftDev406/templates/mithil_test/index.html.twig</code></li>
    </ul>
</div>

-->


        <section >
            <h3>add feedback...</h3>
            {{ form(form) }}
        </section>

{% endblock %}
