footer {
    background-color: rgba(220, 126, 77, 0.82);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

p1{


}

p2{

}