header {
    background-color: #bc4d36;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;

}

header img {
    width: 75px; /* Adjust the width as needed */
    margin-right: 10px; /* Add some spacing between the image and the text */
    border-radius: 10px;
}

header h1{
    display: flex;
    justify-content: space-evenly;
}

input[type="search"] {
    padding: 10px;
    width: 500px; /* Set a fixed width for the search bar */
    margin-left: 15%;
    horiz-align: center;
    margin-right: 10px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5); /* Set a slightly transparent white background */
    border: none; /* Remove the border */
    border-radius: 10px;
    outline: none;
    align-content: center;
}